anyio==3.5.0
asgiref==3.5.0
click==8.0.4
fastapi==0.74.1
fastapi-jwt-auth==0.5.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
psycopg2-binary==2.9.3
pydantic==1.9.0
PyJWT==1.7.1
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing-extensions==4.1.1
uvicorn==0.17.5
