alembic==1.7.6
anyio==3.5.0
asgiref==3.5.0
asyncpg==0.25.0
click==8.0.4
databases==0.5.5
fastapi==0.74.1
fastapi-jwt-auth==0.5.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.1
importlib-resources==5.4.0
Mako==1.1.6
MarkupSafe==2.1.0
psycopg2-binary==2.9.3
pydantic==1.9.0
PyJWT==1.7.1
python-dotenv==0.19.2
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
zipp==3.7.0
